.characters-list{
    height: 600px;
    overflow: auto;
    &-character_card{
        // &:nth-child(3){
        //     background: green;
        // }
        margin: 10px;
        cursor: pointer;
        &-card-content{
            display: inline-flex;
            img{
                margin-right: 10px;
            }
        }
    }
}

.single-character{
    margin: 10px;
    height: 590px;
    &-card-media{
        height: 300px;
    }
}